@charset "utf=8";
@use 'mixin' as mix;
// 変数
$min-font: 10px;


.about {
    &__bg {
        background-color: #F6F4EF;
        position: relative;
        padding-bottom: 10%;

        @include mix.mq(tab) {
            padding-bottom: 5%;
        }
    }
    &__text{
        @include mix.mq(tab) {
            font-size: 14px;
        }
        @include mix.mq(sp) {
            font-size: 11px;
        }
        @include mix.mq(min) {
            font-size: $min-font;
        }
    }
    &__page-header {
        font-size: 4rem;
        font-family: 'Righteous';
        margin-left: 44%;
        padding-top: 6%;
        padding-bottom: 3%;

        @include mix.mq(pc) {
            font-size: 6vw;
            margin-left: 39%;
        }

        &::before {
            content: "";
            position: absolute;
            height: 2px;
            width: 50vw;
            top: 57%;
            right: 56%;
            background: orange;

            @include mix.mq(pc) {
                right: 61%;
            }
        }
    }

    &__page-title {
        font-size: 1.8rem;
        padding-left: 13%;
        font-family: 'Righteous';

        @include mix.mq(tab) {
            font-size: 3.6vw;
            padding-left: 11%;
        }
    }

    &__content {
        display: flex;
        justify-content: space-around;
        width: 100%;
        padding: 3% 0 9%;
        @include mix.mq(sp) {
            display: flex;
            justify-content: flex-start;
        }

    }

    &__sub-title {
        font-weight: bolder;
        font-family: 'Righteous';
        font-size: 3vw;
        padding: -0.5em 0;
        @include mix.mq(sp) {
            padding-bottom: 2%;
        }
    }

    &__img {
        width: 50%;
        text-align: center;
    }

    &__img1 {
        width: 60%;
    
    }

    &__concept {
        width: 44%;
        font-size: 1.8vw;
        font-weight: lighter;
        white-space: nowrap;
        
        
        @include mix.mq(sp) {
            width: 40%;
            white-space: inherit;
        }

        

        & br{
            display: block;
            @include mix.mq(sp) {
                display: none;
            }
        }
    }

    &__main-visual {
        margin: 0 auto 0;
        padding: 4% 0 10% 0;
        background-color: #282926;
    }

    &__box {
        width: 65vw;
        background-color: #fff;
        margin:10% auto 5%;
        border-radius: 30px;
        padding: 4% 0;
        box-shadow: 0 10px 25px 0 rgba(0, 0, 0, .5);

        @include mix.mq(tab) {
            margin: 12% auto 10%;
        }
    }

    &__message-title {
        text-align: center;
        font-family: 'Righteous';
        font-weight: bold;
        font-size: 4vw;

        @include mix.mq(tab) {
            padding-bottom: 5%;
        }

        @include mix.mq(sp) {
            font-size: 1.5rem;

        }
    }

    &__message-text {
        padding: 15px 20%;
        line-height: 3.5rem;
        text-align: initial;

        @include mix.mq(pc) {
            padding: 0px 14%;
        }

        @include mix.mq(tab) {
            padding: 0px 8%;
            line-height: 2.5rem;
            font-size: 2vw;
        }

        @include mix.mq(sp) {
            line-height: 1.5rem;
            font-size: 11px;
        }
        @include mix.mq(min) {
            font-size: $min-font;
        }
    }

}


.slider {
    display: flex;
    justify-content: space-around;
    margin: 0 10px;

    & img {
        object-fit: cover;
        margin-top: 15%;
    }

    &-slide {
        margin: 0 10px;
        
    }
}

